.idea/
node_modules/
.docker-build/
.build/
.DS_Store
coverage/
npm-debug.log
test-results.xml
junit.xml
.vscode/
cypress/screenshots/
yarn-error.log
tsconfig.tsbuildinfo
.nyc_output/
__diff_output__
.scannerwork/
/docker/local/data
/docker/local/data/db
